<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
    <test name="Sanity Test">
        <classes>

            <class name="com.urbanladder.testcases.PlaceOrderTest">
                <methods>
                    <include name="orderComputerTable"/>
                    <include name="orderGamingChair"/>
                    <include name="orderBeanBag"/>
                </methods>
            </class>

            <class name="com.urbanladder.testcases.SignUpAndLoginTest">
                <methods>
                    <include name="signUpTest"/>
                </methods>
            </class>

            <class name="com.urbanladder.testcases.WishListTest">
                <methods>
                    <include name="addToWishlistAndRemove"/>
                    <include name="addToWishlistAndAddToBasket"/>
                </methods>
            </class>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
